nav {
    /*max-height: 100%;*/
    position: fixed;
    /*padding: 1%;*/
    height: 10%;
    margin: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: #efefef;
    height: 0%;
    z-index: 1;
}

nav * {
    height: 0%;
    display: none;
}


/*wraps around the nav*/

.navContainer {
    position: fixed;
    /*padding: 1%;*/
    height: 10%;
    margin: 0;
    right: 0;
    top: 0;
    left: 0;
    /*background-color: #efefef;*/
    z-index: 2;
}

.navContainer:hover * {
    display: inline;
    /*display: block;*/
    animation-name: slideDown;
    animation-duration: 1s;
    height: auto;
}

.subMenu {
    /*display: block; not working*/
}

.iconContainer {
    float: left;
    /*height: 100%;*/
    width: 10%;
    background-color: grey;
}

.icon {
    /*max-height: 100%;*/
    max-width: 100%;
}

ul {
    list-style: none;
    float: right;
}

main {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    font-size: 3em;
    background-color: black;
    color: white;
    padding: 2%;
}

footer {
    position: fixed;
    padding: 1%;
    margin: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
}

footer:hover {
    /*height: auto;*/
}


/*   KEYFRAMES   */

@keyframes slideDown {
    from {
        /*height: 0%;*/
        transform: translateY(-100px);
    }
    to {
        /*height: auto;*/
        transform: translateY(0px);
    }
}
