nav {
  max-height: 100%;
}

nav * {
    display: inline;
}

ul {
    list-style: none;
    float: right;
}

.iconContainer {
    float: left;
    width: 10%;
    background-color: grey;
}

.icon {
  max-width: 100%;
}

.navContainer {
    position: fixed;
    /*padding: 1%;*/
    margin: 0;
    /*height: auto;*/
    right: 0;
    top: 0;
    left: 0;
    background-color: #efefef;
}

.navContainer:hover{
  display: block;
}

ul.subMenu {}

main {}

footer {
    position: fixed;
    padding: 1%;
    margin: 0;
    /*height: auto;*/
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
}

footer:hover {
    /*height: auto;*/
}
